[submodule "src/org-mode"]
	path = src/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "src/gnus"]
	path = src/gnus
	url = http://git.gnus.org/gnus.git
[submodule "src/org-jekyll"]
	path = src/org-jekyll
	url = git://github.com/andialbrecht/org-jekyll.git
[submodule "src/twittering-mode"]
	path = src/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "src/elim"]
	path = src/elim
	url = git://git.sv.gnu.org/elim.git
[submodule "src/naquadah-theme"]
	path = src/naquadah-theme
	url = git://git.naquadah.org/naquadah-theme.git
[submodule "src/google-maps"]
	path = src/google-maps
	url = git://git.naquadah.org/google-maps.git
[submodule "src/django-mode"]
	path = src/django-mode
	url = git://github.com/myfreeweb/django-mode.git
[submodule "src/emacs-for-python"]
	path = src/emacs-for-python
	url = git://github.com/andialbrecht/emacs-for-python.git
[submodule "src/js2-mode"]
	path = src/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "src/magit"]
	path = src/magit
	url = git://github.com/magit/magit.git
